<a href="https://colab.research.google.com/github/sonal-jharkharia/Python_Fundamental_Training/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Strings

- Datatype for storing text data
- Similar to list in many ways - concatenation, replication, usage with ```for```, ```in``` and ```not in``` operators, ```len()``` function etc

In [ ]:
## Example of string
my_string = "Hello World" # use single/double quotes for representing a piece of text data as a string
print(type(my_string))

<class 'str'>

#### Concatenation and replication
- Use ```+``` for concatenation and ```*``` for replication

In [ ]:
### Examples of concatenation and replication
str1 = "Hello,"
str2 = "World"
# print(str1 + str2 + "2019 " + "!")

print((str1 + str2)*2)

Hello,WorldHello,World

#### String literals
- String literals may use single quotes ```''``` or double quotes ```""```
- Benefit of using double quotes is that they may contain single quotes

In [ ]:
## Examples of string literals
str1 = 'Hello'
str2 = "Hello"
# print(str1 == str2)

## I've got to learn python
str1 = "I've got to learn python" ## apostrophe is confused as end of string because both are the same character
print(str1)

I've got to learn python

###### Escape characters
- Escape characters change the usual meaning of a character in a specific context

In [ ]:
## Eg., \', \" ## \ is known as backslash character. Used to escape characters, means give special meaning to them
str1 = "I've got to learn python"
str2 = 'I\'ve got to learn python' ## earlier the meaning of the single quote was a closing quote, 
                                  ## but now it simply means the single quote character. 
# print(str2)

dialogue = "He said, \"I've got to learn python \""
print(dialogue)

He said, "I've got to learn python "

In [ ]:
## Eg., \n,
## \n is used to print a newline at that position
str_two_sents = "I have to learn python. \nI am taking a course."
print(str_two_sents)

I have to learn python.
I am taking a course.

#### Raw strings
- Place ```r``` before a string to make it a raw string. All escape characters are ignored in a raw string

In [ ]:
## Example of raw strings
str_two_sents = "I have to learn python. \nI am taking a course."
print(str_two_sents)

raw_str = r"I have to learn python. \nI am taking a course."
print(raw_str)

I have to learn python.
I am taking a course.
I have to learn python. \nI am taking a course.

#### Multiline strings
- Use triple quotes to create multiline strings

In [ ]:
### Example of multi-line strings.
str_two_sents_multiline = '''I have to learn python.
I am taking a course. '''
print(str_two_sents_multiline)

I have to learn python.
I am taking a course.

In [ ]:
str_two_sents_multiline = """I have to learn python.
I am taking a course. """
print(str_two_sents_multiline)

I have to learn python.
I am taking a course.

In [ ]:
### Example of multi-line comments and docstrings
## docstrings are used in python for documenting code
def sum(a, b):
  """
  This is a function that adds two numbers.
  Inputs:
  a:Int
  b:Int

  Outputs
  sum_:Int, sum of a and b
  """
  sum_ = a  + b
  return sum_

#### Indexing and slicing strings
- Same as how you do for lists

In [ ]:
## Examples of indexing and slicing
str_1 = "HelloHari"
## This can be thought of as a list of characters
# len(str_1)
print(str_1[0])
print(str_1[6])

print(str_1[-2])

H
a
r

In [ ]:
print(str_1[2:5])
print(str_1[2:-1])
print(str_1[:-1])
print(str_1[:])

llo
lloHar
HelloHar
HelloHari

#### ```in``` and ```not in``` operators with strings

In [ ]:
## Examples of usage of in and not in operators
l = [1, 4, 9, 7]
print(4 in l)
print(13 in l)

True
False

In [ ]:
print('r' in str_1)
print('x' not in str_1)

True
True

In [ ]:
print('Hari' in str_1)
print('hari' in str_1)

True
False

#### Commonly used String methods
- ```upper```, ```lower```, ```isupper```, ```islower``` methods
- These methods do not change the string itself and instead return a new value

In [ ]:
## Examples of upper and lower
# print(str_1.upper())
# print(str_1)
# print(str_1.lower())

str_1 = str_1.upper()
print(str_1)

HELLOHARI

- ```isupper``` and ```islower``` return ```True``` if there is atleast one alphabet in a string and if all of the alphabets present are upper or lower respectively. It returns ```False``` otherwise

In [ ]:
### Examples of isupper and islower
print(str_1.isupper())
print(str_1.islower())
print('999'.isupper())

True
False
False

- ```startswith``` and ```endswith``` methods
- useful for comparison other than ```==```

In [ ]:
#### Examples of startswith and endswith
print(str_1)
print(str_1.startswith('HEL'))
print(str_1.endswith('HARI'))
print(str_1.endswith('LOHA'))

## state of a registered vehicle based on license plate

HELLOHARI
True
True
False

- ```join``` and ```split```
- ```join``` is called on a string, gets passed a list of strings and returns a string

In [ ]:
### Example of using join 
print(','.join(['Hari', 'Madhav', 'Ram', 'Shyam']))

Hari,Madhav,Ram,Shyam

- ```split``` is called on a string, gets passed a string and returns a list of strings

In [ ]:
### Example of using split
names_str = "Hari,Madhav,Ram,Shyam"
names_list = names_str.split(',')
print(names_list)

['Hari', 'Madhav', 'Ram', 'Shyam']

In [ ]:
names_str = "Hari Madhav Ram Shyam"
names_list = names_str.split(' ')
print(names_list)

['Hari', 'Madhav', 'Ram', 'Shyam']

- Removing white space with ```strip```, ```rstrip``` and ```lstrip``` methods

In [ ]:
## Examples
names_str = "    Hari     Madhav    Ram     Shyam          "
print(names_str.strip())
print(names_str.rstrip())
print(names_str.lstrip())

Hari,     Madhav,    Ram,     Shyam
    Hari,     Madhav,    Ram,     Shyam
Hari,     Madhav,    Ram,     Shyam